<div class="posts">
        
      <!--   <div class="keyword-container"> 
        <h5 id="token.keywords"><%= token.keywords %></h5> 
        </div> -->
       <!--  <i class="far fa-heart"> </i> -->
        <div class="img-tokens-market">
        <img src="<%= token.image %>"   id="img-market">
        </div>
        <h4> <%= token.username %></h4>
        <div class="token-name">
        <p><%= token.name %></p>
        </div>
        <p><%= token.price %>Ξ</p>
        <a href="/products/detail/<%= token.id %>">View</a>


</div>

