<div class="posts">
        
      <!--   <div class="keyword-container"> 
        <%= nfts.keywords %>
        </div> -->
       
        <div class="img-tokens-market">
        <img src="../../img/<%= nfts.image %>"   id="img-market">
        </div>
        <!-- <h4> <%= nfts.keyword %></h4>-->
        <div class="token-name">
        <p><%= nfts.name %></p> - <p><%= nfts.users.userName %></p>
        </div>
        <p><%= nfts.price %>Ξ</p>
        <a href="/products/detail/<%= nfts.nftID %>">View</a>


</div>

