<div class="posts">
        
      <!--   <div class="keyword-container"> 
        <%= token.keywords %>
        </div> -->
       
        <div class="img-tokens-market">
        <img src="../../img/<%= token.image %>"   id="img-market">
        </div>
        <h4> <%= token.username %></h4>
        <div class="token-name">
        <p><%= token.name %></p>
        </div>
        <p><%= token.price %>Ξ</p>
        <a href="/products/detail/<%= token.nftID %>">View</a>


</div>

