<div class="posts">
        
    <!--   <div class="keyword-container"> 
      <%= nfts.keywords %>
      </div> -->
     
      <div class="img-tokens-market">
      <img src="../../img/<%= nfts.image %>"   id="img-market">
      </div>
      <h4> <%= nfts.username %></h4>
      <div class="token-name">
      <p><%= nfts.name %></p>
      </div>
      <p><%= nfts.price %>Ξ</p>
      <a href="/products/detail/<%= nfts.nftID %>">View</a>


</div>
