<!DOCTYPE html>
<html>
<head>
  <%- include("./partials/head") %>
  <link href="/css/index-style.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script>
      function myFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
  </script>
</head>
    <body>
        <%- include("./partials/header") %>
        <main id="main-detail">
            <% if (user == undefined) { %>
             <div class="notlogged">
             <h1>You're not logged in, please click the following link to do it. </h1>
             <br>
             <a href="/users/login"> Login </a>
            </div>
            <% } else { %>
             <div class="token">
                <img src="<%= user.avatar %>" alt="" class="tokenIMG">
            </div>
            <div class="tokenDetail">
                <h4 class="title"><%= user.first_name %></h4>
                <h4 class="title"><%= user.last_name %></h4>
                <h6 ><%= user.email%></h6>
                <a href="/users/edit/<%= user.id %> ">Edit user</a>
            </div>
            <br class="line"> <% } %> 
        </main>
    
        <%- include("./partials/footer") %>
        </div>
    </body>
</html>