<!DOCTYPE html>
<html>
    <head>
      <%- include("./partials/head") %>
        <link href="/css/register-style.css" rel="stylesheet">
        
        <script>
            function myFunction() {
                var x = document.getElementById("myLinks");
                if (x.style.display === "block") {
                  x.style.display = "none";
                } else {
                  x.style.display = "block";
                }
              }
        </script>
    </head>
    <body>
        
      <%- include("./partials/header") %>

    <main>
      
     
            <h4>Please, complete the following <br> 
              information to join us. </h4>
            
          <br>
          <br>

      <div class="wrapper">
        <!--
        <div class="errores">
          <ul>
  
          </ul>
      </div>
      -->
        <form action="/users/register"  method="POST" enctype="multipart/form-data" class="formulario" >
        
          <p id="field"> 
           <div class="acaFirstName" id="erroresFront"></div> 
           <div class="onehalf"><label>*Name</label></div>
            <input type="text" id="first_name"  name="first_name" required: true placeholder="" value="<%= locals.old && old.first_name %>">
          </p>
          <% if (locals.errors && errors.first_name) { %>
            <p class="errorSign"><%= errors.first_name.msg %></p>
          <% } %> 
          <br>
          <p id="field"> 
            <div class="acaLastName" id="erroresFront"></div> 
            <div class="onehalf"><label>*Lastname</label></div>
            <input type="text" id="last_name" name="last_name" required: true placeholder="" value="<%= locals.old && old.last_name %>">
          </p>
          <% if (locals.errors && errors.last_name) { %>
            <p class="errorSign"><%= errors.last_name.msg %></p>
            <% } %> 
          <br>
          <p id="field"> 
            <div class="acaEmail" id="erroresFront"></div>
            <div class="onehalf"><label>*E-mail</label></div>
            <input type="text" id="email" name="email" required: true placeholder="" value="<%= locals.old && old.email %>">
          </p>
          <% if (locals.errors && errors.email) { %>
            <p class="errorSign"><%= errors.email.msg %></p>
            <% } %> 
          <br>
         <p id="field"> 
          <div class="acaUsername" id="erroresFront"></div>
            <div class="otherhalf"><label>*Username</label></div>
            <input type="text" id="username" name="username" required: true placeholder="" value="<%= locals.old && old.username %>">
          </p>
          <% if (locals.errors && errors.username) { %>
            <p class="errorSign"><%= errors.username.msg %></p>
            <% } %> 
          <br>
          <p id="field"> 
            <div class="acaPassword1" id="erroresFront"></div>
            <div class="otherhalf"><label>*Password</label></div>
            <input type="password" id="password" name="password" required: true placeholder ="">
          </p>
          <% if (locals.errors && errors.password) { %>
            <p class="errorSign"><%= errors.password.msg %></p>
            <% } %> 
          <br>
          <p id="field"> 
            <div class="acaPassword2" id="erroresFront"></div>
            <div class="otherhalf"><label>*Confirm password</label></div>
            <input type="password" id="password2" name="password2" required: true placeholder ="">
          </p>
          <% if (locals.errors && errors.password2) { %>
            <p class="errorSign"><%= errors.password2.msg %></p>
            <% } %> 
          <br>

          <div class="acaAvatar" id="erroresFront"></div>
          <label id="upload" class="selectCSV"  for="botonupload">Upload your avatar</label>
          <input type="file" id="create"  name="avatar" accept=".jpg, .gif, .mp4, .png" id="botonupload">
          <% if (locals.errors && errors.avatar) { %>
            <p class="errorSign"><%= errors.avatar.msg %></p>
          <% } %> 
          <br>
          
          <p class="full">
            <button class="boton-wallet">*Choose your wallet</button>
          </p>
          <br>
          <p class="full">
            <button class="boton-signup" type="submit">Sign Up</button>  
          </p>
          <br>
        </form>
      </div>
    
    </main>
  <%- include("./partials/footer") %>
  <script src="/js/register.js">
       
     
  </script>  

  </body>
</html>
