<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateNFT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/css/create.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script>
        function myFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
              x.style.display = "none";
            } else {
              x.style.display = "block";
            }
          }
    </script>
</head>

<body>
    <main>
        <div class="topnav">
            <a href="/"> <img class="logo" src="/img/logo_cubo_verde.png"></a>
            <!-- Navigation links (hidden by default) -->
            <div class="barrabusqueda"><input type="text" class="busq" placeholder="Tags, Artists, Collections"></div>
            <div id="myLinks">
                <a href="market">Market</a>
                <a href="">Features</a>
                <a href="">Community</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>

    <form action="/products/editNFT/<%= token.id %>?_method=PUT" enctype="multipart/form-data" method="POST" id="formulario">
    <div id="cajas">
    <div id="imagen">
        <img id="ilustracion" src="<%= token.image %>">

        <div id="cajaupload">
            <label id="upload" class="selectCSV"  for="botonupload">Upload your NFT</label>
                <input type="file" name="nftFile" accept=".jpg, .gif, .mp4, .png" id="botonupload"> 
        </div>
    </div>  

    <div id="info">
        
        <label for="title">Title*</label>
        <input type="text" name="title" id="title" placeholder="<%= token.name %>">

    <label for="description">Desc*</label>
        <input type="text" name="description" id="title" placeholder="<%= token.description %>">

    <label for="keywords">Tags*</label>
        <input type="text" name="keywords" id="tags" placeholder="<%= token.keywords %>">

    <label for="price">Price*</label>
        <input type="number" name="price" id="price" placeholder="<%= token.price %>">
        </div>
    </div>  
    <div id="cajaboton"><button type="submit" id="create">Crate NFT</button></div>
</form>
    </div>



    </main>

    <footer>
        <div class="resourcesmenu">
            <h4 class="resources">Resources</h4>
            <p>Support center</p>
            <p>FAQ</p>
            <p>Blog</p>
        </div>
        <div class="communitymenu">
            <h4 class="community">Community</h4>
            <section class="icons">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-discord"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-reddit-alien"></i>
            </section>
        </div>
        <div class="newsletter-div">
            <h4 class="newsletter">Newsletter</h4>
            <p class="newsletter-text">Subscribe. Stay up to date with our latest news and events.</p>
            <button class="suscribe-button" type="button">Subscribe</button>
        </div>
        <div class="footer-bottom">
            <p>2021 NineForty</p>
            <p>Privacy</p>
            <p>Terms</p>
        </div>

    </footer>
    
</body>
</html>